body{
  background-color: #252525;
}
.topbar {
  overflow: hidden;
  background-color: #252525;
  font-family: 'Barriecito';
  font-size: 22px;
}

.topbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
}

.topbar a:hover {
  background-color: #ddd;
  color: black;
}